{% extends "base.html" %}
{% block content %}
<h1 id="main">Fit4Cybersecurity</h1>
<p><a href="https://github.com/CASES-LU/Fit4Cybersecurity" rel="noopener noreferrer" target="_blank">Fit4Cybersecurity</a>
is a self-assessment tool by CASES to help business owners
implement a better cybersecurity strategy.<br />
Its main goal is to allow users to quickly assess their information security
maturity in different areas that CASES considers critical.
</p>

<p>As an example this tool allows instantiation of the following self-assessment
websites:
<ul>
<li>Fit4Cybersecurity,</li>
<li>Fit4Privacy,</li>
<li>OperatorSurvey.</li>
</ul></p>

<p>You can visit <a href="/stats">this page</a> which is federating statistical
data from the previously mentioned Fit4Cybersecurity instances.</p>
{% endblock %}
