{% extends "base.html" %}
{% block content %}
<h1 id="main">Fit4Cybersecurity</h1>
<p><a href="https://github.com/CASES-LU/Fit4Cybersecurity" rel="noopener noreferrer" target="_blank">Fit4Cybersecurity</a>
is a self-assessment tool by CASES to help business owners
implement a better cybersecurity strategy.<br />
Its main goal is to allow users to quickly assess their information security
maturity in different areas that CASES considers critical.
</p>

<p>As an example this tool allows instantiation of the following self-assessment
websites:</p>
<ul>
<li><a href="https://fit4cybersecurity.cases.lu" rel="noopener noreferrer" target="_blank">Fit4Cybersecurity</a>,</li>
<li><a href="https://fit4privacy.cases.lu" rel="noopener noreferrer" target="_blank">Fit4Privacy</a>,</li>
<li><a href="https://operatorsurvey.cases.lu" rel="noopener noreferrer" target="_blank">OperatorSurvey</a>.</li>
</ul>

<p>You can visit <a href="/stats">this page</a> which is federating statistical
data from the previously mentioned Fit4Cybersecurity instances.</p>


<h1 id="surveys">Description of the surveys instances</h1>
<h2>Fit4Cybersecurity</h2>
<p>
<a href="https://fit4cybersecurity.cases.lu" rel="noopener noreferrer" target="_blank">This survey</a>
is a quick online self-assessment tool helping business owners evaluate their
security maturity and enhance their cyber risk protection.
This is the first step of a more thorough assessment, that we call a Diagnostic
CASES. The latter dives deeper into the organisation’s context, its state of
practice and the existing documentation in terms of cybersecurity risk management,
with the goal to address gaps with respect to baseline practices.</p>

<h2>Fit4Privacy</h2>
<p>
<a href="https://fit4privacy.cases.lu" rel="noopener noreferrer" target="_blank">This survey</a>
aims to help organisations assess to what extent they are in control of their personal data risks,
as required by the GDPR since May 2018.</p>

<h2>OperatorSurvey</h2>
<p>
<a href="https://operatorsurvey.cases.lu" rel="noopener noreferrer" target="_blank">This survey</a>
aims to identify the level of maturity of the operators in Luxembourg with
respect to risk management and governance, collaboration on national and
EU level and Incident reporting.<br />
The survey will be online and available between <b>December 2021 and April 30th 2022</b>.</p>

{% endblock %}
