<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Embed Demo</title>
    {{ js_resources|indent(4)|safe }}
    {{ css_resources|indent(4)|safe }}
    {% for name, component in components_instances.items() %}
        {{ component[0]|indent(4)|safe }}
    {% endfor %}
  </head>
  <body>
    <h1>Survey per company sector</h1>
    {% for name, component in components_instances.items() %}
      <h2>{{ name }}<h2>
      {{ component[1]|indent(4)|safe }}
    {% endfor %}
  </body>
</html>
